@model mvc_ef_codefirst_sample.Models.Kisiler
@{
    ViewBag.Title = "Sil";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Secilen kişiyi sil</h2>
<hr />
<p>
    Aşagıdaki kişi kaydını silmek istediğinize emin misiniz??
</p>

<table>
    <tr>
        <td>Ad :</td>
        <td>@Model.Ad</td>
    </tr>
    <tr>
        <td>Soyad :</td>
        <td>@Model.Soyad</td>
    </tr>
    <tr>
        <td>Yaş :</td>
        <td>@Model.Yas</td>
    </tr>
</table>
<br />
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.ID)
    <div class="input-group">
        <input type="submit" value="Sil" class="btn btn-success" />
    </div>
    <br />
}
